{% extends 'base.html.twig' %}

{% block body %}
<h1>Changer le statut</h1>

{{ form_start(form) }}
    {{ form_row(form.status) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('staff_dashboard') }}">Retour</a>
{% endblock %}
